body {
    text-align: center;
    font-family: Arial;
    background: #fff8e1;
}

canvas {
    border: 3px solid #333;
    border-radius: 10px;
    background: white;
    margin-top: 20px;
    touch-action: none; /* for mobile */
}

.toolbar {
    margin: 20px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
